<div class="card relative bg-white rounded-sm shadow-md cursor-pointer overflow-hidden w-full">
    <img class="card-img w-full h-60 object-cover duration-200" src="{{url}}" alt="{{name}}">
    <div class="card-text p-3 bg-black absolute duration-200 top-full -translate-y-2/4 left-0 w-full">
        <p class="text-center font-semibold text-gray-100">{{name}}</p>
        <p class="text-center font-semibold text-gray-100 pt-4">Precio: <span class="text-orange-400">${{price}}</span></p>
    </div>
</div>
