<div class="container-carrousel shadow-xl" #carouselContainer>
    <div class="carrousels h-full flex" #carousels style="transition: transform 0.5s ease;">
        <section class="slider-section" #sliderSection>
            <img src="assets/images/slider/img_1.jpg" alt="Imagen carrusel 1">
        </section>
        <section class="slider-section" #sliderSection>
            <img src="assets/images/slider/img_2.jpg" alt="Imagen carrusel 2">
        </section>
        <section class="slider-section" #sliderSection>
            <img src="assets/images/slider/img_3.jpg" alt="Imagen carrusel 3">
        </section>
        <section class="slider-section" #sliderSection>
            <img src="assets/images/slider/img_4.jpg" alt="Imagen carrusel 4">
        </section>
    </div>
    <button (click)="moveToLeft()" class="btn-left"><</button>
    <button (click)="moveToRight()" class="btn-rigth">></button>
</div>
