<main class="container max-w-6xl mx-auto mt-10">
    <h2 class="text-4xl font-bold text-neutral-600">Quienes somos</h2>
    <div class="flex justify-between gap-5 mt-5">
        <div class="flex-1">
            <h3 class="text-2xl font-bold text-neutral-800">SILAU S.A.S</h3>
            <p class="text-justify">Con dos décadas de experiencia se dedica a la comercialización de elementos decorativos de madera de alta calidad. Ofrecemos portarretratos, retablos y enmarcaciones únicas, distinguiéndonos por diseños exclusivos que superan expectativas. SILAU S.A.S se enorgullece de la calidad e innovación que caracterizan nuestros productos.</p>
        </div>
        <div class="flex-1">
            <img src="../../../assets/images/enterprice/image.jpeg" alt="Imagen nosotros">
        </div>
    </div>
    <div class="flex justify-between gap-5 mt-10">
        <div class="flex-1 text-justify p-5 shadow-xl bg-neutral-100">
            <h3 class="text-xl font-bold text-neutral-800">Misión</h3>
            <p>Empresa comprometida con el diseño y fabricación de elementos decorativos en madera que se distingan en el mercado por calidad, funcionalidad y ergonomía; que estén a la vanguardia en decoración de sitios de habitación y/o trabajo dando un toque de elegancia y armonía a los espacios.</p>
        </div>
        <div class="flex-1 text-justify p-5 shadow-xl bg-neutral-100">
            <h3 class="text-xl font-bold text-neutral-800">Visión</h3>
            <p>Consolidarse como una empresa fabricante de elementos decorativos en madera que marque tendencias y ofrezca alternativas novedosas para la decoración de ambientes con sus compromisos laborales y comerciales y que esté en la continua búsqueda de la satisfacción del cliente local, nacional e internacional.</p>
        </div>
        <div class="flex-1 text-justify p-5 shadow-xl bg-neutral-100">
            <h3 class="text-xl font-bold text-neutral-800">Metas</h3>
            <p>Garantizar la satisfacción de nuestros clientes ofreciéndoles los mejores diseños, el más amable servicio, precios competitivos y entregas oportunas.</p>
        </div>
    </div>
</main>
