@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .lateral-bar{
        position: fixed;
        left: -240px;
    }
    .max-lateral-bar{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu i:nth-child(2){
        display: none;
    }
}

.mini-bar{
    width: 80px;
}

.hid{
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.switch-on{
    background-color: #2563eb;
}

.dark-on{
    left: 18px;
    background-color: white;
}

.nav__link--inside:hover{
    background-color: #F6F8FA;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}
nav {
    scrollbar-width: none; /* Firefox */
}

nav::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
