<form
  [formGroup]="formLogin"
  (ngSubmit)="logIn()"
  class="form mt-10 max-w-xl container mx-auto"
>
  <h2 class="mb-5 text-4xl font-bold text-neutral-600 text-center">
    Inicio de sesión
  </h2>
  <div class="flex gap-10 justify-between mt-10 text-xl flex-col">
    <div class="relative flex-1 input-box">
      <input
        formControlName="email"
        type="email"
        id="email"
        name="email"
        class="outline-none border p-2 rounded-md bg-transparent w-full"
        [class.border-neutral-700]="
          !formLogin.get('email')?.invalid || !formLogin.get('email')?.touched
        "
        [class.border-red-500]="
          formLogin.get('email')?.invalid && formLogin.get('email')?.touched
        "
        required
      />
      <label
        for="email"
        class="duration-300 text-neutral-700 absolute top-0 left-0 p-2 pointer-events-none"
        >Email</label
      >
      @if(formLogin.get('email')?.invalid && formLogin.get('email')?.touched){
      <p class="text-red-500 text-sm mt-1">
        @if(formLogin.get('email')?.errors?.['required']){Email requerido}
        @if(formLogin.get('email')?.errors?.['email']){Email inválido}
      </p>
      }
    </div>
    <div class="relative flex-1 input-box">
      <input
        formControlName="password"
        type="password"
        id="password"
        name="password"
        class="outline-none border p-2 rounded-md bg-transparent w-full"
        [class.border-neutral-700]="
          !formLogin.get('password')?.invalid ||
          !formLogin.get('password')?.touched
        "
        [class.border-red-500]="
          formLogin.get('password')?.invalid &&
          formLogin.get('password')?.touched
        "
        required
      />
      <label
        for="password"
        class="duration-300 text-neutral-700 absolute top-0 left-0 p-2 pointer-events-none"
        >Contraseña</label
      >
      @if(formLogin.get('password')?.invalid &&
      formLogin.get('password')?.touched){
      <p class="text-red-500 text-sm mt-1">
        @if(formLogin.get('password')?.errors?.['required']){Contraseña
        requerida} @if(formLogin.get('password')?.errors?.['minlength']){Mínimo
        6 caracteres}
      </p>
      }
    </div>
  </div>
  @if(error){
  <p
    class="font-bold text-white bg-red-500 text-lg mt-5 text-center p-2 rounded-lg duration-300 ease-linear transition-opacity opacity-0 animate-fade-in"
  >
    {{ error }}
  </p>
  }
  <div class="container flex justify-center items-center duration-300">
    <button
      type="submit"
      [disabled]="formLogin.invalid"
      class="mt-5 p-2 px-10 font-bold text-white text-xl duration-300 hover:shadow-xl disabled:opacity-50 disabled:cursor-not-allowed"
      [class.bg-brand-blue]="!formLogin.invalid"
      [class.hover:bg-blue]="!formLogin.invalid"
      [class.hover:rounded-md]="!formLogin.invalid"
      [class.bg-gray-400]="formLogin.invalid"
    >
      Acceder
    </button>
  </div>
</form>
