@tailwind base;
@tailwind components;
@tailwind utilities;


.input-box input:valid ~ label,
.input-box textarea:valid ~ label,
.input-box input:focus ~ label,
.input-box textarea:focus ~ label{
    font-weight: bold;
    transform: translateY(-80%);
    font-size: 1rem;
}