@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-add::after{
    content: "";
    background-color: rgba(255, 216, 168, 0.5);
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-45deg) translateX(-200%);
    transition: all 0.5s ease-in-out; 
}

.btn-add:hover:after{
    transform: translateX(400%) skewX(-45deg);
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
}

.modal-close{
    transform: translateY(-200%);
}

.input-box input:valid ~ label,
.input-box textarea:valid ~ label,
.input-box input:focus ~ label,
.input-box textarea:focus ~ label{
    font-weight: bold;
    transform: translateY(-80%);
    font-size: 1rem;
}